<br><br>

<p>
  ※<%= t 'devise.mailer.caution_note.send_only_msg' %><br>
  ※<%= t 'devise.mailer.caution_note.misdelivery_msg' %>
</p>

<br>
<hr>

<p>
  Bon Voyage Collection<br>
  <%= link_to "#{Settings.front_domain}", "#{Settings.front_domain}", target: :_blank, rel: "noopener noreferrer" %>
</p>